
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_NAME=postgres
DATABASE_PASSWORD=shk123
DATABASE_PORT=5432

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=shk123
POSTGRES_DB=postgres

# Ecryption

ENCRYPTION_MASTER_KEY=J8ZvAsmsSCiEg_U25hylZQo7IVTyyAzGfXZY-DjQQ0U=

# Paths
PROVIDERS_CONFIG_PATH=config/providers.yaml

