TELEGRAM_BOT_TOKEN=
BACKEND_URL=http://backend:8000
BACKEND_CHAT_PATH=/chat/chat
BACKEND_USER_LOOKUP_PATH=/users/telegram/{telegram_id}
BACKEND_USER_CREATE_PATH=/users/add
BACKEND_USER_SESSION_PATH=/sessions/user_session/{user_id}
BACKEND_SESSION_CREATE_PATH=/sessions/add
BACKEND_SESSION_UPDATE_PATH=/sessions/{session_id}
BACKEND_TIMEOUT=60
